.button {
  --button-background: var(--background-element);
  --button-font-color: var(--text-secondary);
  display: inline-block;
  border-radius: var(--border-radius-regular);
  background: var(--button-background);
  padding: var(--6px) var(--16px);
  color: var(--button-font-color);

  &:hover {
    box-shadow: var(--highlight-shadow);
  }

  &[data-variant='accent'] {
    --button-background: var(--color-accent);
    --button-font-color: var(--text-inverse);
  }
  &[data-variant='success'] {
    --button-background: var(--color-success);
  }
  &[data-variant='warning'] {
    --button-background: var(--color-warning);
    --button-font-color: var(--text-inverse);
  }
  &[data-variant='danger'] {
    --button-background: var(--color-danger);
    --button-font-color: var(--text-inverse);
  }
  &[data-variant='disabled'] {
    --button-background: var(--background-element);
  }
}
