@use './media.scss';

@keyframes slideUpAndFade {
  0% {
    transform: translateY(var(--slide-length, 25%));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  0% {
    transform: translateX(var(--slide-length, 25%));
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  0% {
    transform: translateY(var(--slide-length, 25%));
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  0% {
    transform: translateX(var(--slide-length, 25%));
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideIn {
  @include media.motion {
    animation-duration: var(--transition-accent);
    animation-timing-function: var(--ease-regular);
    will-change: transform, opacity;

    &[data-state='open'] {
      &[data-side='top'] {
        animation-name: slideUpAndFade;
      }
      &[data-side='right'] {
        animation-name: slideLeftAndFade;
      }
      &[data-side='bottom'] {
        animation-name: slideDownAndFade;
      }
      &[data-side='left'] {
        animation-name: slideRightAndFade;
      }
    }
  }
}
