@use './media.scss';
@use './utils.scss';

@import './colors.scss';
@import './fonts.scss';

/* other vars */
:root {
  --border-radius-small: var(--4px);
  --border-radius-regular: var(--8px);
  --border-radius-large: var(--16px);
  --border-radius-full: 100%;

  --transition-regular: 150ms;
  --transition-accent: 500ms;

  --ease-regular: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  /* handy pixels to rems */
  $pixels: 2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 20, 24, 28, 30, 32, 36, 40, 44, 48,
    50, 52, 56, 60, 64, 70, 80, 90, 100, 120, 220, 250, 300, 400, 500, 600, 700,
    768, 800;
  @each $px in $pixels {
    --#{$px}px: #{utils.pxToRem($px)};
  }
}

html,
body {
  background-color: var(--background-app);
  color: var(--text-primary);
  font-weight: 300;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-size: var(--14px);
}

#root {
  width: 100vw;
  height: 100vh;

  @include media.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  color: inherit;
}
