.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-element);
  background-color: var(--background-element);
  padding: 0 var(--16px);
  height: var(--50px);
}
